{% extends "base.html" %}
{% block content %}
    {% if username %}
      <div class=content>
        <div>You are logged in as {{username}}</div>
        <form method="POST" action="/logout">
          {% csrf-field %}
          <input type="submit" class="button is-primary" value="Logout" />
        </form>
      </div>
    {% else %}
      <div class="content">
          <form method="POST" action="/">
            {% csrf-field %}
            <p>
              Username:
              <input class="input" type="text" name="username" value="{{name}}" />
            </p>
            {% if errors.name %}
            <div class="notification is-danger">{{errors.name|join}}</div>
            {% endif %}
            <p>
              Password:
              <input type="password" name="password">{{message}}</input>
            </p>
            {% if errors.message %}
            <div class="notification is-danger">{{errors.message|join}}</div>
            {% endif %}
            <input type="submit" class="button is-primary" value="Login" />
          </form>
      </div>
    {% endif %}
{% endblock %}